
                    <table width="100%" style="max-width: 525px; padding: 0 15px 20px; margin: 0 auto;">
                      <tbody>
                        <tr>
                          <td>
                            <p style="margin: 0; line-height: 20px;">
                              Best regards,<br>
                              MYFLYRIGHT Customer Service
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" style="border-bottom: 1px solid #B8B8B8; max-width: 485px; margin: 0 auto;">
                      <tbody>
                        <tr>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    <table width="100%" style="max-width: 525px; margin: 0 auto; padding: 20px 15px;">
                      <tbody>
                        <tr>
                          <td>
                            <div class="ddd"></div>
                            <table class="left-bottom" width="100%" style="float: left; padding-top: 3px; width: 100%; text-align: center;">
                              <tbody>
                                <tr>
                                  <td>
                                    <a class="link" href="http://google.com" style="display: inline-block; color: #2DABE2; text-decoration: none;"><img src="http://achernavskih.icemint.org/temp/img/myf-insta.png" alt="" target="_blank"></a>
                                    <a class="link" href="http://google.com" style="display: inline-block; margin: 0 15px; color: #2DABE2; text-decoration: none;"><img src="http://achernavskih.icemint.org/temp/img/myf-twitter.png" alt="" target="_blank"></a>
                                    <a class="link" href="http://google.com" style="display: inline-block; color: #2DABE2; text-decoration: none;"><img src="http://achernavskih.icemint.org/temp/img/myf-facebook.png" alt="" target="_blank"></a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table class="right-bottom" width="100%" style="float: right; text-align: center; width: 100%; padding-top: 5px;">
                              <tbody style="display: inline-block; text-align: left;">
                                <tr>
                                  <td>
                                    <p style="margin-top: 0;">
                                      <a class="link" href="http://google.com" style="color: #2DABE2; text-decoration: none;">
                                        <img src="http://achernavskih.icemint.org/temp/img/myf-book.png" alt="" style="margin-right: 12px; display: inline-block; vertical-align: middle; margin-top: -4px;">
                                        Frequentlly asked questions (FAQ)
                                      </a>
                                    </p>
                                    <p style="margin: 0;">
                                      <a class="link" href="http://google.com" style="color: #2DABE2; text-decoration: none;">
                                        <img src="http://achernavskih.icemint.org/temp/img/myf-mail.png" alt="" style="margin-right: 12px; display: inline-block; vertical-align: middle; margin-top: -4px;">
                                        Customer service
                                      </a>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="blue-bg" width="100%" style="background-color: rgb(178, 211, 225);padding: 14px 0;">
                      <tbody>
                        <tr>
                          <td>
                            <table width="100%" style="max-width: 525px; margin: 0 auto; padding: 0 15px;">
                              <tbody>
                                <tr>
                                  <td>
                                    <table class="main-text footer-left" width="100%" style="font-size: 10px; float: left; text-align: center;">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <p style="margin-top: 0;">
                                              <strong style="display: block;">MYFLYRIGHT GmbH</strong>
                                              Schauenburgerstraße 61 • 20095 Hamburg • Germany
                                            </p>
                                            <p style="margin-top: 0;">
                                              Register court: Amtsgericht Hamburg,<br>
                                              Company register number: HRB 143174,<br>
                                              Managing Directors: Djavad Ali // Igor Maas
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table class="footer-right" width="100%" style="float: right; text-align: center; margin-top: 14px;">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <p style="font-family: Arial, Arial Black, Tahoma, Trebuchet MS, Verdana, sans-serif; font-size: 12px; color: #454545; text-decoration: none;">
                                              <a href="https://de.trustpilot.com/review/myflyright.de?utm_medium=Trustbox&utm_source=EmailSignature3" target="_blank"> <img src="https://emailsignature.trustpilot.com/logo/s/3/logo@2x.png" border="0" width="103" style="max-width: 103px; width: 100%;" alt="Trustpilot Logo"><br> <img src="https://emailsignature.trustpilot.com/signature/en-US/3/576913970000ff0005917036/stars.png" border="0" width="103" style="max-width: 103px; width: 100%;" alt="Trustpilot Stars"></a><br>
                                              <span style="font-family: Arial, Arial Black, Tahoma, Trebuchet MS, Verdana, sans-serif; font-size: 12px; color: #454545; display: block; padding-top: 5px;">Our customers love us!</span>
                                          </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
