  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .main-text p {
        margin: 0 0 20px!important;
        line-height: 20px!important;
      }

      .main-text p:last-child {
        margin-bottom: 0!important;
      }

      .main-text p strong {
        display: block!important;
      }

      a.link,
      a.link:link,
      a.link:visited {
        color: #2DABE2!important;
        text-decoration: none!important;
      }

      @media screen and (min-width: 481px) {
        .left-bottom {
          max-width: 180px!important;
          text-align: left!important;
        }

        .right-bottom {
          max-width: 295px!important;
          text-align: right!important;
          padding-top: 0!important;
        }

        .blue-bg {
            background-color: rgb(178, 211, 225)!important;
        }

        .notes {
          padding: 0!important;
        }

        .footer-left {
          max-width: 250px!important;
          float: left!important;
          text-align: left!important;
        }

        .footer-right {
          max-width: 170px!important;
          float: right!important;
        }
      }
    </style>
  </head>
